.custom-navbar {
    background-color: var(--primary);
    position: sticky !important;
}

.custom-navbar .nav-link {
    color: var(--light);
}

.custom-navbar .nav-link.active {
    font-weight: bold;
    color: var(--highlight);
}


