.custom-navbar {
  background-color: var(--primary);
  position: sticky !important;
}

.custom-navbar .nav-link {
  color: var(--light);
}

.custom-navbar .nav-link.active {
  font-weight: bold;
  color: var(--highlight);
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 0.25rem;
  }
}
