/* VERY IMPORTANT*/
/* Changing the below colours will change them site wide. Do so at your own caution */
:root {
  --primary: #3b1a69;
  --secondary: #e7634c;
  --tertiary: #a9e29e;
  --highlight: #e9eceb;
  --lowlight: #eb9971;
  --shadow-color: rgba(0, 0, 0, 0.54);
  --cta: #66cbe7;
  --dark: #3d2f26;
  --light: #e9eceb;

  --bs-primary: var(--primary);
  --bs-secondary: var(--secondary);
  --bs-light: var(--light);
  --bs-dark: var(--dark);
}

.bg-primary-custom {
  background-color: var(--primary);
}
.bg-secondary-custom {
  background-color: var(--secondary);
}
.bg-highlight {
  background-color: var(--highlight);
}
.text-primary-custom {
  color: var(--primary);
}
.text-secondary-custom {
  color: var(--secondary);
  .text-highlight {
    color: var(--highlight);
  }
}

.price-pill {
  border-radius: 50rem;
}

@media (max-width: 576px) {
  .price-pill {
    border-radius: 0 !important;
    opacity: 100% !important;
    width: 100% !important;
  }
}

.text-shadow {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000, /* dark border */ -1px -1px 0 #000,
    1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 5px rgba(0, 0, 0, 0.8); /* outer glow */
  -webkit-text-stroke: 0.5px black; /* fallback for extra sharpness */
}

.responsive-ticket-button {
  background-color: var(--highlight);
  border-radius: calc(0.5rem + 0.3vw);
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  padding: clamp(0.4rem, 0.6vw, 0.8rem) clamp(0.8rem, 1vw, 1.5rem);
  position: absolute;
  bottom: clamp(0.5rem, 2vw, 2rem);
  right: clamp(1rem, 2vw, 2rem);
  width: 30vw;
  text-align: center;
  min-width: 100px;
  max-width: 300px;
  max-height: 3rem;
  min-height: 1rem;
}

/* Optional: make the button a bit smaller on mobile */
@media (max-width: 576px) {
  .responsive-ticket-button {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
    width: auto;
  }
}
