/* VERY IMPORTANT*/
/* Changing the below colours will change them site wide. Do so at your own caution */
:root {
  --primary: #6843B6;
  --secondary: #7C1232;
  --tertiary: #7C1232;
  --highlight: #E9ECEB;
  --lowlight: #a09f9f;
  --shadow-color: rgba(0, 0, 0, 0.54);
  --cta: #C0582E;
  --dark: #3D2F26;
  --light: #E9ECEB;

  --bs-primary: var(--primary);
  --bs-secondary: var(--secondary);
  --bs-light: var(--light);
  --bs-dark: var(--dark);
}

.bg-primary-custom { background-color: var(--primary); }
.bg-secondary-custom { background-color: var(--secondary); }
.bg-highlight { background-color: var(--highlight); }
.text-primary-custom { color: var(--primary); }
.text-secondary-custom { color: var(--secondary);
.text-highlight { color: var(--highlight); }}

